input {
    width: 200px;
    height: 30px;
    vertical-align: top;
}

/*select {*/
/*    width: 200px;*/
/*    height: 30px;*/
/*    border: 1px solid rgba(0, 0, 0, 0.35);*/
/*    vertical-align: top;*/
/*}*/

input, select {
    width: 250px;
    height: 30px;
    border: 1px solid #666;
    border-radius: 5px;
    padding: 4px;
    margin-left: 10px;
}

.error {
    color:red
}

.save {
    font-weight: bold;
    width: 130px;
    padding: 5px 10px;
    margin-top: 20px;
    background: #cccccc;
}

.mybutton {
    border: 1px solid #666;
    border-radius: 5px;
    /*padding: 4px;*/
    font-size: 12px;
    font-weight: bold;
    width: auto;
    padding: 5px 10px;

    margin-bottom: 15px;
    background: #cccccc;
}