<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Contact Book</title>
</head>
<body>

<div class="container">

    <h1> Contact Book</h1>
    <hr>

    <a th:href="@{/contacts/showFormForAdd}"
       class="btn btn-primary btn-sm mb-3">
        Add New Contact
    </a>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <!--                <th>#</th>-->
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Birth date</th>
            <th>Phone number</th>
            <th>Category</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempContact : ${contactList}">

            <td th:text="${tempContact.firstName}"/>
            <td th:text="${tempContact.lastName}"/>
            <td th:text="${tempContact.email}"/>
            <td th:text="${tempContact.birthDay}"/>
            <td th:text="${tempContact.phoneNumber}"/>
            <td th:text="${tempContact.category}"/>

        </tr>
        </tbody>
    </table>
</div>

</body>
</html>