<!DOCTYPE HTML>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Contact Book</title>
</head>
<body>

<div class="container">

    <h1> Contact Book</h1>
    <h4> Witaj <span sec:authentication="name"/> </h4>
    <hr>

    <form th:action="@{/contacts/search}" class="form-inline">
        <a sec:authorize="hasAnyRole('ROLE_MODERATOR', 'ROLE_ADMIN')" th:href="@{/contacts/showFormForAdd}"
           class="btn btn-primary btn-sm mr-5 mb-3">
            Add New Contact
        </a>
        <input class="form-control form-control-sm  mr-sm-2 mb-3" name="searchName" placeholder="Search" />

        <button class="btn btn-success btn-sm mb-3 mr-5" type="submit">Search</button>

        <div sec:authorize="hasRole('ROLE_ADMIN')" class="form-group">
            <a th:href="@{/admin/panel}" type="submit" class="form-group btn btn-secondary btn-sm mb-3">Admin panel</a>
        </div>


    </form>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Birth date</th>
            <th>Phone number</th>
            <th>Category</th>
            <th sec:authorize="hasAnyRole('ROLE_MODERATOR', 'ROLE_ADMIN')">Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempContact : ${contactList}">

            <td th:text="${tempContactStat.count}"/>
            <td th:text="${tempContact.firstName}"/>
            <td th:text="${tempContact.lastName}"/>
            <td th:text="${tempContact.email}"/>
            <td th:text="${tempContact.birthDay}"/>
            <td th:text="${tempContact.phoneNumber}"/>
            <td th:text="${tempContact.category}"/>
            <td sec:authorize="hasAnyRole('ROLE_MODERATOR', 'ROLE_ADMIN')">

                    <a sec:authorize="hasAnyRole('ROLE_MODERATOR', 'ROLE_ADMIN')"
                       th:href="@{/contacts/showFormForUpdate(contactId=${tempContact.id})}"
                       class="btn btn-info btn-sm">
                        Update
                    </a>

                    <a sec:authorize="hasRole('ROLE_ADMIN')"
                       th:href="@{/contacts/delete(contactId=${tempContact.id})}"
                       class="btn btn-danger btn-sm"
                    onclick="if(!(confirm('Are you sure you want to delete this contact?'))) return false">
                        Delete
                    </a>
            </td>

        </tr>
        </tbody>
    </table>

    <form action="#" th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout" class="btn btn-outline-danger"/>
    </form>
</div>

</body>
</html>